.cy {
    width: 100%;
    height: 100%;
}

.toolbar {
    margin-bottom: 10px;
    button {
        padding: 10px;
        cursor: pointer;
        color:#fff;
        border-radius:10px;
        transition: .1s;
        &:hover{
            scale:1.1;
        }
    }
}

button {
    margin-right: 8px;
}
