<div class="flexrow w-full h-dvh justify-center">
    <button class="bg-secondary p-4 w-50 flexcol rounded-xl">
        <div class="flexrow !justify-between w-[70%]">
            <lucide-icon [img]="ImageIcon"></lucide-icon>
            <lucide-icon [img]="RightIcon"></lucide-icon>
            <lucide-icon [img]="SheetIcon"></lucide-icon>
        </div>
        <span>Image to Sheet</span>
    </button>
    <button class="bg-secondary p-4 w-50 flexcol rounded-xl">
        <div class="flexrow !justify-between w-[70%]">
            <lucide-icon [img]="ImageIcon"></lucide-icon>
            <lucide-icon [img]="RightIcon"></lucide-icon>
            <lucide-icon [img]="SheetIcon"></lucide-icon>
        </div>
        <span>Image to Sheet</span>
    </button>
    <button class="bg-secondary p-4 w-50 flexcol rounded-xl">
        <div class="flexrow !justify-between w-[70%]">
            <lucide-icon [img]="ImageIcon"></lucide-icon>
            <lucide-icon [img]="RightIcon"></lucide-icon>
            <lucide-icon [img]="SheetIcon"></lucide-icon>
        </div>
        <span>Image to Sheet</span>
    </button>
    <button class="bg-secondary p-4 w-50 flexcol rounded-xl">
        <div class="flexrow !justify-between w-[70%]">
            <lucide-icon [img]="ImageIcon"></lucide-icon>
            <lucide-icon [img]="RightIcon"></lucide-icon>
            <lucide-icon [img]="SheetIcon"></lucide-icon>
        </div>
        <span>Image to Sheet</span>
    </button>
</div>