/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.bg-primary{
    background-color: #0a352d;
}
.bg-secondary{
    background-color: #b18343;
}
.bg-accent{
    background-color: #eae1d4;
}
.flexrow{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.flexcol{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.page{
    width: 100%;
    height: 100%;
}
button{
    cursor: pointer;
}
.input-field {
  @apply w-full border p-3 rounded-xl placeholder:text-gray-500 flex flex-row items-center gap-2;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b7280; /* gray-500 */
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #374151; /* gray-700 */
}